{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} </title>

    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/base.css' %}>

</head>
<body>
    <header class="header sticky-top">
        <div class="div-menu m-3">
            <nav>
                <ul class="nav-list d-flex">
                    <li class="nav-li mt-5 pt-3">

                        <a href= {% url 'catalog' %} class="catalog-li">CATALOG</a>
                        
                        <div class="categories-menu">
                            {% for c in categories %}
                                <a href= {% url 'catalog_by_category' category_slug=c.slug %} class="category-item">{{ c.name }}</a>                            
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-li mt-5 pt-3">
                        <a href={% url 'new' %}>NEW</a>
                    </li>
                    <li>
                        <a href= {% url 'catalog' %}>
                            <img class="logo" src="/media/logo.png" alt="">
                        </a>
                    </li>
                    
                    <li class="nav-li mt-5 pt-3">
                        <a href={% url 'contacts' %}>CONTACTS</a>
                    </li>
                    <li class="nav-li ">
                        <a href={% url 'cart' %}>   
                            <img class="cart-logo" src='/media/shoe-box.png' alt="">
                            <div class="cart-logo-count">
                                <p class="cart-quantity">
                                    {% with cart_quantity=cart|length %}
                                        {% if cart_quantity > 0 %}
                                            {{ cart_quantity }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% endwith %}
                                </p>
                            </div>
                        </a>
                    </li>                    
                </ul>
            </nav>
            <hr>        
        </div>
    </header>

    <div class="div-body">
        {% block body %}  {% endblock body %}
    </div>

    <!-- <footer class="footer m-5 fixed-bottom">
    <ul class="footer-list d-flex">
        <li>
            <a href="#">insta</a>
        </li>
        <li>
            <a href="#">telegram</a>
        </li>
        <li>
            <p>address</p>
        </li>
        <li>
            <p>contacts</p>
        </li>
    </ul>
</footer> -->

    
    <script src = {% static 'bootstrap\js\bootstrap.bundle.min.js' %}></script>
</body>



</html>