{% extends 'main/base.html' %}
{% load static %}

{% block title %} Catalog {% endblock title %} 

 {% block body %} 

 <div class="catalog-container d-flex">
   
   <div class="filters m-5 mt-3 mb-5">
      <aside style="position: absolute; left: 0; margin-left: 20px;">
            <form class="filter-form" method="post">
               {% csrf_token %}
               <h5>Filter by:</h5>
               <p class="filter-name">Brand</p>
               {{ form.brand }}

               <p class="filter-name">Color</p>
               {{ form.color }}

               <p class="filter-name">Size</p>
               {{ form.size }}

               <h5 class="mt-5">Sort by:</h5>
               <p class="filter-name">Price</p>
               {{ form.sort }}
               <div class="filter-buttons-div mt-3">                 
                  <!-- <input class="filter-buttons" type="submit" value="Apply"> -->
                  <button class="filter-buttons"><a href={% url 'catalog' %} style="text-decoration: none; color: black;">Reset</a></button>
               </div> 
            </form>
      </aside>   
   </div>

   <div class="catalog d-flex g-4 mt-3 mb-5">
      {% for s in sneakers %}
         <a href= {{ s.get_absolute_url }}>
            <div class="catalog-item">
               <img src={{ s.image.url }} alt="">
               <p class="catalog-name">
                  {{ s.brand }} {{ s.name }} 
               </p>
               <p class="catalog-price">
                  $ {{ s.price }} 
               </p>
            </div>
         </a>   
      {% endfor %}
   </div>
</div>

<script  src={% static 'js/filter.js' %}></script>
 {% endblock body %}