{% extends 'main/base.html' %}
{% load static %}

{% block title %} Catalog {% endblock title %} 

 {% block body %} 

   <div class=" catalog d-flex g-4">
      {% for s in sneakers %}
         <a href= {{ s.get_absolute_url }}>
            <div class="catalog-item">
               <img src={{ s.image.url }} alt="">
               <p class="catalog-name">
                  {{ s.brand }} {{ s.name }} 
               </p>
            </div>
         </a>   
      {% endfor %}
   </div>
 {% endblock body %}