{% extends 'main/base.html' %}
{% load static %}

{% block title %} Contacts {% endblock title %} 

 {% block body %} 


 

 <div class="contacts-info">
    <h2 class="mt-5">Contacts</h2><br>
    <p><span class="contacts-span">Support email: </span> support@example.com</p> 
    <p><span class="contacts-span">Orders & tracking: </span>orders@example.com</p> 
    <p><span class="contacts-span">Phone (CA): </span>+1 (555) 312-0048</p> 
    <p><span class="contacts-span">Address: </span>128 Market St, Unit 4, Springfield, IL 62704</p>
    <p><span class="contacts-span">Working hours: </span>Mon–Fri 09:00–18:00, Sat 10:00–16:00, Sun closed</p> 
</div>

<div class="contacts-map">
    <h2 class="mt-5">Where to find us</h2><br>

    <div id="map" style="width: 50vw;">
</div>

<div class="contacts-social">
    <h2 class="mt-5">Our socials</h2><br>
    <p>Instagram: @sneak.catalog</p>
    <p>Telegram: t.me/sneakcatalog</p>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=en_US">
</script>

<script  src={% static 'js/map.js' %}></script>

 {% endblock body %}