{% extends 'main/base.html' %}
{% load static %}

{% block title %} Detail {% endblock title %} 

 {% block body %}  
         <div class="detail d-flex">
            <img src={{ sneaker.image.url }} alt="">
            <div class="detail-text">
              <p class="name">
                {{ sneaker.brand }}
              </p>
              <p class="name">
                {{ sneaker.name }}              
              </p>
              <p class="name">
                {{ sneaker.description }}
              </p>

              <div class="sizes d-flex">
                {% for size in sizes %}
                 <form action={% url 'cart_add' sneaker.id %} method="post" class="size-expand d-flex">
                  {% csrf_token %}
                  <div class="radio-size">
                    <input type="radio" id= {{ size.size }} value= {{ size.id }} name='size'>
                    <label for={{ size.size }}>{{ size.size }}</label>
                    <p>Осталось: {{ size.amount }}</p>
                    {{ cart_product_form.quantity }}
                      <input type="hidden" name="size_id" value={{ size.id }}>
                      <input type="hidden" name="override" value="False">
                      <button type="submit">Добавить</button>
                  </div>
                  </form>
                {% endfor %}
              </div>


             
            </div>
         </div>

         
 {% endblock body %}