{% extends 'main/base.html' %}
{% load static %}

{% block title %} New {% endblock title %} 

 {% block body %} 

   <div class="catalog-new d-flex g-4 mt-3 mb-5">
      {% for s in sneakers %}
         <a href= {{ s.get_absolute_url }}>
            <div class="catalog-item">
               <img class="new-img" src={{ s.image.url }} alt="">
               <p class="catalog-name">
                  {{ s.brand }} {{ s.name }} 
               </p>
               <p class="catalog-price">
                  $ {{ s.price }} 
               </p>
            </div>
         </a>   
      {% endfor %}
   </div>
 {% endblock body %}