{% extends 'main/base.html' %}
{% load static %}

{% block title %} Cart {% endblock title %} 

 {% block body %} 
    <div class="cart-container">
  <h2 class="mt-5">Your cart</h2>

  {% if cart %}
    <table class="table cart-table mt-3" >
      
      <tbody>
        {% for item in cart %}
          <tr>
            <td>
              <img style="width: 120px; height: 150px;"  src={{ item.sneaker.image.url }} alt="">
            </td>
            <td >
              {{ item.sneaker.brand }} {{ item.sneaker.name }}
            </td>
            <td>
              {{ item.size }}
            </td>
            <td>
              {{ item.price }} $
            </td>
            
            <td>
              <form action={% url 'cart_remove' item.sneaker_size.id %} method="post">
                {% csrf_token %}
                <button type="submit" class="cart-remove-btn">Remove</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="cart-total">
      <h4 class="mt-5" style="font-weight: bolder;">Total: {{ cart.get_total_price }} $</h4>
    </div>

    <form action={% url 'createOrder' %}>
      {% csrf_token %}
        <button type="submit" class="create-order">CHECKOUT</button>
    </form>


  {% else %}
    <p>Empty</p>
  {% endif %}


</div>



 {% endblock body %}